body{
    background: repeating-linear-gradient(
        90deg,
        #f3eee9,
        #f3eee9 40px,
        #e8e1db 40px,
        #e8e1db 80px
    );
}
.toparea{
    padding:20px;
    text-align: center;
    border-bottom: solid 2px #2C2825;
}
.toparea img{
    float: left;
}
.list ul{
    list-style: none;
    padding-bottom: 20px;
}
.list ul li{
    float: right;
}
.list ul li a:link, .list ul li a:visited{
    text-decoration: none;
    color: #2C2825;
    padding: 5px;
    
}
.ourbloom{
    text-align: center;
    padding: 20px;
}
.ourbloom img{
    text-align: center;
}
.image{
    text-align: center;
    padding:160px;
    overflow: hidden;
}
.photo{
    width: 1200px;
    height:600px;
    margin-top: -100px;
    /* margin-left: 100px; */
    overflow: hidden;
    text-align: center;
}
.photo img{
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        90deg,
        #f3eee9,
        #f3eee9 40px,
        #e8e1db 40px,
        #e8e1db 80px
    );
    text-align: center;
    object-fit: cover;
    transition: transform 0.4s ease;
    /* display: block; */
}
.photo img:hover{
    transform: scale(1.2);
}
.text{
    padding: 100px;
    border-bottom: solid 2px #2C2825;
    overflow: hidden;
}
.txt p{
    padding-top: 20px;
    text-align: center;
}
.txt p a:link, .txt p a:visited{
    color: #2C2825;
    padding:5px;
    background: #FFC800;
    text-decoration: none;
}
.text img{
    margin-top: 100px;
    padding: 14px;
    object-fit: cover;
    transition: transform 0.4s ease;
}
.text img:hover{
    transform: scale(1.2);
}
.text h1{
    padding-top: 30px;
}
.floral{
    text-align: center;
    /* padding-top: 30px; */
    border-bottom: solid 2px #2C2825;
}
.floral img{
    padding-top: 50px;
}
.floral h2{
    padding-top: 50px;
}
.floral p{
    padding-top: 30px;
}
.native{
    text-align: center;
    padding-top: 50px;
    border-bottom: solid 2px #2C2825;
}
.native img{
    padding-top: 40px;
}
.native h2{
    padding-top: 50px;
}
.native p{
    padding-top: 30px;
}
.custom{
    text-align: center;
    padding-top: 30px;
    border-bottom: solid 2px #2C2825;
}
.custom img{
    padding-top: 30px;
}
.custom h2{
    padding-top: 30px;
}
.custom p{
    padding-top: 25px;
}
.purple{
   padding:140px;
   overflow: hidden;
   text-align: center; 
}
.p{
    width: 1200px;
    height:600px;
    text-align: center;
    overflow: hidden;
}
.purple img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    /* display: block; */
    /* padding: 50px; */
}
.purple img:hover{
    transform: scale(1.2);
}
.gallery{
    color:#171615 ;
}
.season{
    margin-top: 50px;
}